<div id="cookies-message" class="alert alert-dismissable alert-info alert-fixed-b">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% trans %}_We_use_cookies_to_help_browsing_experience{% endtrans %}
</div>