<div class="dropdown dropdown-menu hidden">
    {% render (url('categories_menu', {'_locale' : app.request.locale})) %}
    {% include "ChicplaceMobileBundle:blocks:dropdown_menu_about.html.twig" %}
</div>