<div id="loader" class="col col-sm-12">
    <div class="loader">
        <img src="{{ asset('bundles/chicplacemobile/img/loader.gif') }}" width="24" height="24" alt="{% trans %}_Loading{% endtrans %}">
    </div>
</div>