{# .Brick #}
<div class="sg-box-lg">

    <div class="row">
        <div class="col col-sm-12">
            <h2>Bricks</h2>
        </div>
    </div>

    {# ..Brick Default #}
    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h3>Brick Default</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <p>
                    <strong>default (link)</strong>
                </p>
                <div class="brick brick-default">
                    <a class="wrap-media wrap-media-overlap" href="#">
                        <span class="btn btn-tag btn-tag-b btn-tag-r">
                            00€
                        </span>
                        <img class="img-responsive" src="http://placehold.it/250x250" alt="Lorem ipsum">
                    </a>
                    <div class="brick-info">
                        <span class="brick-name">
                            Collar Hum Hum
                        </span>
                        <span class="brick-by">
                            by
                            Les Megeres
                        </span>
                        <span class="brick-city">
                            París
                        </span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <p>
                    <strong>default (no link)</strong>
                </p>
                <div class="brick brick-default">
                    <div class="wrap-media wrap-media-overlap">
                        <span class="btn btn-tag btn-tag-b btn-tag-r">
                            00€
                        </span>
                        <img class="img-responsive" src="http://placehold.it/250x250" alt="Lorem ipsum">
                    </div>
                    <div class="brick-info">
                        <span class="brick-name">
                            Collar Hum Hum
                        </span>
                        <span class="brick-by">
                            by
                            Les Megeres
                        </span>
                        <span class="brick-city">
                            París
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ..Brick Item (aka 'Product') #}
    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h3>Brick Item (aka 'Product')</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <p>
                    <strong>item (link)</strong>
                </p>
                <div class="brick brick-item">
                    <a class="wrap-media" href="#">
                        <img class="img-responsive" src="http://placehold.it/250x250" alt="Lorem ipsum">
                    </a>
                    <div class="brick-info">
                        <h1 class="brick-name">
                            Puff Wool
                        </h1>
                        <span class="brick-by">
                            by
                            Les Megeres,
                            París
                        </span>
                        <span class="brick-price">
                            00€
                        </span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <p>
                    <strong>item (no link)</strong>
                </p>
                <div class="brick brick-item">
                    <div class="wrap-media">
                        <img class="img-responsive" src="http://placehold.it/250x250" alt="Lorem ipsum">
                    </div>
                    <div class="brick-info">
                        <h1 class="brick-name">
                            Puff Wool
                        </h1>
                        <span class="brick-by">
                            by
                            Les Megeres,
                            París
                        </span>
                        <span class="brick-price">
                            00€
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ..Brick Shop #}
    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h3>Brick Shop</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <p>
                    <strong>shop (link)</strong>
                </p>
                <div class="brick brick-shop">
                    <div class="brick-info">
                        <h1 class="brick-name">
                            Les Femmes à Barbes
                        </h1>
                        <span class="brick-by">
                            París
                        </span>
                    </div>
                    <a class="wrap-media" href="#">
                        <img class="img-responsive" src="http://placehold.it/250x250" alt="Lorem ipsum">
                    </a>
                </div>
            </div>
            <div class="col col-sm-6">
                <p>
                    <strong>shop (no link)</strong>
                </p>
                <div class="brick brick-shop">
                    <div class="brick-info">
                        <h1 class="brick-name">
                            Les Femmes à Barbes
                        </h1>
                        <span class="brick-by">
                            París
                        </span>
                    </div>
                    <div class="wrap-media">
                        <img class="img-responsive" src="http://placehold.it/250x250" alt="Lorem ipsum">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
