{# .Headings #}
<div class="sg-box-lg">
    <div class="row">
        <div class="col col-sm-12">
            <h2>Headings</h2>
            <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
        </div>
    </div>
    {# ..Headings Content #}
    <div class="row">
        <div class="col col-sm-12">
            <h1>h1. Sample heading</h1>
            <h2>h2. Sample heading</h2>
            <h3>h3. Sample heading</h3>
            <h4>h4. Sample heading</h4>
            <h5>h5. Sample heading</h5>
            <h6>h6. Sample heading</h6>
        </div>
    </div>
</div>