{# .Header #}

{# ..Headig #}
<div class="row">
    <div class="col col-sm-12">
        <div class="media">
            <a class="pull-left" href="{{ url('mobile_home') }}">
                <div class="media-object icon icon-logo icon-primary"></div>
            </a>
            <div class="media-body">
                <h1>Mobile Style Guide / UI Pattern Library</h1>
            </div>
        </div>
    </div>
</div>

{# ..Nav #}
{#<div class="row">
    <div class="col col-sm-12">
        <div class="sg-box">
            <ul class="sg-nav">
                <li>Show me some:</li>
                <li>
                    <a href="#styles-grid-units" class="sg-link" title="Grid units">Grid units</a>
                </li>
                <li>
                    <a href="#styles-forms" class="sg-link" title="Forms">Forms</a>
                </li>
                <li>
                    <a href="#styles-buttons" class="sg-link" title="Buttons">Buttons</a>
                </li>
                <li>
                    <a href="#styles-notification-messages" class="sg-link" title="Notification messages">Notification messages</a>
                </li>
                <li>
                    <a href="#styles-flexible-images" class="sg-link" title="Flexible images">Flexible images</a>
                </li>
                <li>
                    <a href="#styles-sprites" class="sg-link" title="Sprites">Sprites</a>
                </li>
                <li>
                    <a href="#styles-headings" class="sg-link" title="Headings">Headings</a>
                </li>
                <li>
                    <a href="http://redmine.pinroom.com/projects/pinroom-planning/wiki/Frontend" class="sg-link" title="More info on Redmine's Wiki" target="_blank">Wiki on Redmine</a>
                </li>
            </ul>
        </div>
    </div>
</div>#}