{# .Icon fonts #}
<div class="sg-box-lg">

    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h2>Icon fonts</h2>
                <p>Add new vector icons with <a href="http://fontastic.me/">Fontastic</a>, the icon fonts generator tool. Current icon fonts are stored at <a href="https://www.dropbox.com/sh/3ts4f37ahe2iksz/AABhNBWdVPSL4OCm_cT55p8pa">ChicPlace Dropbox account</a>.</p>
                <ul>
                    <li>
                        <strong>Base class:</strong>
                        <code>.icon</code>
                    </li>
                    <li>
                        <strong>Icons:</strong>
                        Add desired icon class name -into any HTML tag- to add an icon. I.e. <code>.icon-arrow-up</code>
                    </li>
                    <li>
                        <strong>Colors:</strong>
                        Add <code>.icon-default</code>, <code>.icon-primary</code> or <code>.icon-active</code> for additional colors.
                    </li>
                    <li>
                        <strong>Sizes:</strong>
                        Add <code>.icon-lg</code>, <code>.icon-md</code>, <code>.icon-sm</code> or <code>.icon-xs</code> for additional sizes.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {# ..Icons #}
    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h3>Icons</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-chevron-down icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-chevron-left icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-chevron-right icon-default icon-md"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="icon icon-chevron-up icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-geolocation icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-logo icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-pencil icon-default icon-md"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="icon icon-remove icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-rule icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-scissors icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-search icon-default icon-md"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="icon icon-search-circle icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-shopping-bag icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-th icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-time icon-default icon-md"></div>
            </div>
        </div>
    </div>

    {# ..Colors #}
    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h3>Colors</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-primary icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-active icon-md"></div>
            </div>
        </div>
    </div>

    {# ..Sizes #}
    <div class="sg-box-sm">
        <div class="row">
            <div class="col col-sm-12">
                <h3>Sizes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-default icon-lg"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-default icon-md"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-default icon-sm"></div>
            </div>
            <div class="col col-sm-3">
                <div class="icon icon-arrow-up icon-default icon-xs"></div>
            </div>
        </div>
    </div>

</div>
