{# .Loader #}
<div class="sg-box-lg">

    <div class="row">
        <div class="col col-sm-12">
            <h2>Loader</h2>
            <p>Image <strong>indicator loader.</strong> Create easily your own ajax loader icon with <a href="http://ajaxload.info">Ajaxload</a>.</p>
        </div>
    </div>

    {% include "ChicplaceMobileBundle:blocks:loader.html.twig" %}

</div>