<div class="row">
    <div class="col col-sm-12">
        <p>
            <button type="submit" class="btn btn-info btn-lg btn-block btn-add-to-cart">
                {% trans %}_Add_to_cart{% endtrans %}
            </button>
        </p>
    </div>
</div>