<div class="row">
    <div class="col col-sm-12">
        {% if shop.ownerQuote %}
        <q>{{ shop.ownerQuote }}</q>
        {% endif %}
        <p>
            {{ shop.description }}
        </p>
    </div>
</div>