<div class="row">
    <div class="col col-sm-12">
        <p>
            <a href="{{ url('homepage') }}" class="btn btn-primary btn-lg btn-block">
                {% trans %}_Back_to_Home{% endtrans %}
            </a>
        </p>
    </div>
</div>