<div class="row">
    <div class="col col-sm-12">
        <p>
            <button id="send-register" type="submit" class="btn btn-primary btn-lg btn-block">
                {% trans %}_Continue{% endtrans %}
            </button>
        </p>
    </div>
</div>