<div class="row">
    <div class="col col-sm-12">
        <p>
            <button type="submit" class="btn btn-info btn-lg btn-block" id="btn-cart-summary">
                {% trans %}_Checkout{% endtrans %}
            </button>
        </p>
        <p>
            <a href="{{ url('homepage') }}" class="btn btn-primary btn-lg btn-block">
                {% trans %}_Continue_shopping{% endtrans %}
            </a>
        </p>
    </div>
</div>