{# Title #}
<div class="row">
    <div class="col col-sm-12">
        <h2>{% trans %}_Other_contacts{% endtrans %}</h2>
    </div>
</div>

{# Contact other addresses #}
<div class="row">
    <div class="col col-sm-12">
        <dl class="well">

            <dt>{% trans %}_Section{% endtrans %}</dt>
            <dd>{% trans %}_Partners{% endtrans %}</dd>
            
            <dt>{% trans %}_Phone{% endtrans %}</dt>
            <dd><a href="tel:34900649212">{% trans %}_tel_es{% endtrans %}</a></dd>
            
            <dt>{% trans %}_Email{% endtrans %}</dt>
            <dd><a href="mailto:chicplace@chicplace.com">chicplace@chicplace.com</a></dd>
            
        </dl>
    </div>
</div>

<div class="row">
    <div class="col col-sm-12">
        <dl class="well">

            <dt>{% trans %}_Section{% endtrans %}</dt>
            <dd>{% trans %}_Press{% endtrans %}</dd>
            
            <dt>{% trans %}_Phone{% endtrans %}</dt>
            <dd><a href="tel:33182880077">{% trans %}_tel_fr{% endtrans %}</a></dd>
            
            <dt>{% trans %}_Email{% endtrans %}</dt>
            <dd><a href="mailto:chicplace@chicplace.com">chicplace@chicplace.com</a></dd>
            
        </dl>
    </div>
</div>

<div class="row">
    <div class="col col-sm-12">
        <dl class="well">

            <dt>{% trans %}_Section{% endtrans %}</dt>
            <dd>{% trans %}_Marketing{% endtrans %}</dd>
            
            <dt>{% trans %}_Phone{% endtrans %}</dt>
            <dd><a href="tel:390694800427">{% trans %}_tel_it{% endtrans %}</a></dd>
            
            <dt>{% trans %}_Email{% endtrans %}</dt>
            <dd><a href="mailto:chicplace@chicplace.com">chicplace@chicplace.com</a></dd>
            
        </dl>
    </div>
</div>
