{# Title #}
<div class="row">
    <div class="col col-sm-12">
        <h2>{% trans %}_Contact_us{% endtrans %}</h2>
    </div>
</div>

{# Contact us addresses #}
<div class="row">
    <div class="col col-sm-12">
        <dl class="well">

            <dt>{% trans %}_Country{% endtrans %}</dt>
            <dd>
                <img src="{{ asset('bundles/chicplacemobile/img/icon-flag-spain.png') }}" alt="{% trans %}_Spain{% endtrans %}">
                {% trans %}_Spain{% endtrans %}
            </dd>
            
            <dt>{% trans %}_Phone{% endtrans %}</dt>
            <dd><a href="tel:34900649212">{% trans %}_tel_es{% endtrans %}</a></dd>
            
            <dt>{% trans %}_Schedule{% endtrans %}</dt>
            <dd>
                <abbr title="{% trans %}_Monday{% endtrans %}">{% trans %}_Mon{% endtrans %}</abbr>-<abbr title="{% trans %}_Thursday{% endtrans %}">{% trans %}_Thu{% endtrans %}</abbr> 9:00-18:30<br>
                <abbr title="{% trans %}_Friday{% endtrans %}">{% trans %}_Fri{% endtrans %}</abbr> 9:00-15:00
            </dd>
            
        </dl>
    </div>
</div>

<div class="row">
    <div class="col col-sm-12">
        <dl class="well">

            <dt>{% trans %}_Country{% endtrans %}</dt>
            <dd>
                <img src="{{ asset('bundles/chicplacemobile/img/icon-flag-france.png') }}" alt="{% trans %}_France{% endtrans %}">
                {% trans %}_France{% endtrans %}
            </dd>
            
            <dt>{% trans %}_Phone{% endtrans %}</dt>
            <dd><a href="tel:33182880077">{% trans %}_tel_fr{% endtrans %}</a></dd>
            
            <dt>{% trans %}_Schedule{% endtrans %}</dt>
            <dd>
                <abbr title="{% trans %}_Monday{% endtrans %}">{% trans %}_Mon{% endtrans %}</abbr>-<abbr title="{% trans %}_Thursday{% endtrans %}">{% trans %}_Thu{% endtrans %}</abbr> 9:00-18:30<br>
                <abbr title="{% trans %}_Friday{% endtrans %}">{% trans %}_Fri{% endtrans %}</abbr> 9:00-15:00
            </dd>
            
        </dl>
    </div>
</div>

<div class="row">
    <div class="col col-sm-12">
        <dl class="well">

            <dt>{% trans %}_Country{% endtrans %}</dt>
            <dd>
                <img src="{{ asset('bundles/chicplacemobile/img/icon-flag-italy.png') }}" alt="{% trans %}_Italy{% endtrans %}">
                {% trans %}_Italy{% endtrans %}
            </dd>
            
            <dt>{% trans %}_Phone{% endtrans %}</dt>
            <dd><a href="tel:390694800427">{% trans %}_tel_it{% endtrans %}</a></dd>
            
            <dt>{% trans %}_Schedule{% endtrans %}</dt>
            <dd>
                <abbr title="{% trans %}_Monday{% endtrans %}">{% trans %}_Mon{% endtrans %}</abbr>-<abbr title="{% trans %}_Thursday{% endtrans %}">{% trans %}_Thu{% endtrans %}</abbr> 9:00-18:30<br>
                <abbr title="{% trans %}_Friday{% endtrans %}">{% trans %}_Fri{% endtrans %}</abbr> 9:00-15:00
            </dd>
            
        </dl>
    </div>
</div>